body {
    background-image: url("../img/mascotasHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6b9a0;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}
.dog-paw-button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6b9a0;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}