body {
    background-color: #FFD2B6!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 100vh;
}

#contenido-home {
    min-height: calc(100vh - 190px);
}

button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6b9a0;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}
.dog-paw-button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6b9a0;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}
.text-error
{
    color: red;
}
.small-logo{
    width: 30%;
}