body {
    background-image: url("../img/mascotasHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6b9a0;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}
.dog-paw-button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6b9a0;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
}
.text-error
{
    color: red;
}
.small-logo{
    width: 30%;
}
.banners-pagina-cuidadores, .banners-pagina-refugios{
    height: 513px;
    margin-bottom: 10px;
}
.banners-pagina-cuidadores h1, .banners-pagina-refugios h1{
    color: white;
    display: inline;
    font-size: 70px;
    position: absolute;
    top: 250px;
    left: 200px;
    text-shadow: 1px 1px 2px black;
}

.banners-pagina-refugios h1{
    color:black;
}

.banners-pagina-cuidadores a, .breadcrumb-item.active, .breadcrumb-item.active::before {
    color:white;
    text-shadow: 1px 1px 2px black;
}

.banners-pagina-refugios a, .banners-pagina-refugios .breadcrumb-item.active, .banners-pagina-refugios .breadcrumb-item.active::before {
    color:black;
    text-shadow: none;
    font-weight: bold;
}

.banners-pagina-cuidadores a:hover, .banners-pagina-refugios a:hover{
    text-decoration: none;
}

.breadcrumb{
    background-color: transparent;
    position: absolute;
    top:350px;
    left:200px;
}