#map{
    height: 360px;
}

.card-img-top{
    height: auto;
}

/*
.share-button{
    display: flex;
    flex-direction: column-reverse;
}
 */

.share-button{
    display: none;
}

.share-button-res{
    display: flex;
    flex-direction: column-reverse;
}

.mensaje-estado{
    display: block;
}

.mensaje-estado a{
    margin: 10px;
}

.compartir{
    margin-top:10px;
}

.boton-compartir{
    display: flex;
    justify-content: center;
}

.contenedorSubC{
    margin: 0;
}

h1, h2{
    margin: 15px 0;
    text-align: center;
}
.puntaje{
    margin: 5px 0;
}
.avatar{
    width: 40px;
}
.btn-share{
    display: flex;
    justify-content: end;
    margin:10px;
    padding:0;
}
.lista-compartir div{
    text-align: center;
}

.cuerpo-card{
    display: block;
}

@media (min-width: 768px){
    .card-img-top, #map{
        height: auto;
    }
    .cuerpo-card{
        display: flex;
        flex-direction: column;
    }
    .card-encabezado{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .share-button-res{
        display: none;
    }
    .share-button{
        display: flex;
    }
    .contenedorSubC{
        margin: 0 25px;
    }
    .mensaje-estado{
        display: flex;
        align-items: center;
    }
    .mensaje-estado a{
        margin:0;
    }
    .compartir{
        margin:0;
    }
}

@media (min-width: 1024px){
    .card-img-top, #map{
        height: auto;
    }
}