.banners-pagina-cuidadores{
    background-image: url("../img/banner-todos-cuidadores.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    position: relative;
    margin-bottom: 10px;
}

.banners-pagina-refugios{
    background-image: url("../img/banner-todos-refugios.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    position: relative;
    margin-bottom: 10px;
}

.banners-pagina-mascotas{
    background-image: url("../img/banner-todas-las-mascotas.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    position: relative;
    margin-bottom: 10px;

}

#mapa {
    width: 100%;
    height: 300px; /* Puedes ajustar la altura según tus necesidades */
}
.referencia-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px; /* Ajusta el tamaño de la fuente según tus necesidades */
    margin-top: 30px; /* Agrega margen superior para alinearlo con el control "Mapa Satélite" */
    margin-left: 10px;
}

.referencia-item {
    margin-bottom: 5px;
}

.referencia-color {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
}

.titulos-todos{
    position: absolute;
    top:80px;
    left:60px;
}

.titulos-todos ol{
    background-color: transparent;
}

h1, .breadcrumb a, .breadcrumb li, .breadcrumb-item.active, .breadcrumb-item.active::before {
    color:white;
    text-shadow: black 1px 1px 3px;
}

.container-fluid label{
    white-space: nowrap;
}

#estadosMascotasContainer:first-child, #tiposMascotasContainer:first-child{
    text-align: center;
}

.breadcrumb a:hover{
    text-decoration: none;
}

.card {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.filtros{
    display: flex;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-basis: calc(50% - 10px);
    /* Ajusta el espacio entre las tarjetas según tus necesidades */
}

.card a:hover{
    text-decoration: none;
    color: white;
}

@media (min-width: 768px) {
    .banners-pagina-cuidadores, .banners-pagina-refugios, .banners-pagina-mascotas{
        height: 300px;
    }
    .titulos-todos{
        top:110px;
        left: 100px;
    }
    .card-img{
        height: 200px;
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        flex-basis: calc(33.33% - 10px);
    }
    /* Distribución uniforme en todas las filas */
    .cards-container::after {
        content: "";
        flex-basis: 33.33%;
        /* Ajusta el espacio entre las tarjetas según tus necesidades */
    }

    /* Ajuste especial para la última fila */
    .cards-container:last-child::after {
        flex-basis: calc(33.33% - 10px);
    }
    .filtros{
        justify-content: space-around;
    }
    #mapa{
        height: 400px;
    }
}

@media (min-width: 1024px) {
    h1{
        font-size: 60px;
    }
    .banners-pagina-cuidadores, .banners-pagina-refugios, .banners-pagina-mascotas{
        height: 450px;
    }
    .titulos-todos{
        top: 180px;
        left: 180px;
    }
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .card {
        flex-basis: calc(25% - 10px);
        margin-right: 10px;
    }
    .card-img{
        height: 250px;
    }

    .cards-container:last-child::after {
        display: none;
    }
    #mapa{
        height: 500px;
    }
}

@media (min-width: 1440px){
    .banners-pagina-cuidadores, .banners-pagina-refugios, .banners-pagina-mascotas{
        height: 450px;
    }
}


